
.icon-publish:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e801'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-money:before { content: '\e803'; } /* '' */
.icon-money-1:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-email:before { content: '\e806'; } /* '' */
.icon-lock-filled:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-bag:before { content: '\e809'; } /* '' */
.icon-pencil:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-chart-bar:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-calendar:before { content: '\e80e'; } /* '' */
.icon-wallet:before { content: '\e80f'; } /* '' */
.icon-down-dir:before { content: '\e810'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */