/* Background pattern from subtlepatterns.com */
body
{
	margin: 0;
	color: #efefef;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
}

.alert 
{
    	padding: 5px;
	border-radius: 12px;
	margin: 1%;
}

.checkbox2
{
	color: #495057;
}

h1.logo
{
	font-size: 230%;
	font-weight: 700;
	color: #c2780a;
	text-align: center;
	letter-spacing: 5px;
	margin-top: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-family: 'Philosopher', sans-serif;
}

.logo2
{
	text-align: center;
	width: 100%;
	height: 100%;
}

.info
{
	text-align: center;
	margin: 10px;
	font-size: 10px;
}

.name
{
	font-size: 30px;
}

.welcome
{
	float: left;
	font-size: 30px;
}

.dateRange
{
	float: left;
	font-size: 18px;
}

/*bootstrap*/
.register
{
	background: -webkit-linear-gradient(left, #c2780a, #f9c831);
	padding: 3%;
	-webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
	border-radius: 12px;
}

.register-left
{
	text-align: center;
	color: #f8f9fa;
	margin-top: 1%;
	text-shadow: black 0.1em 0.1em 0.2em;
	margin-top: auto;
	margin-bottom: auto;
}

.form-control
{
	margin-top: 10px;
	width: 70%;
}

.register-right
{
	background: #f8f9fa;
	border-top-left-radius: 10% 50%;
	border-bottom-left-radius: 10% 50%;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	height: 100%;
	border: solid 1px #e0a32a;
}

#icon
{
	margin-top: 8%;
	margin-bottom: 4%;
	-webkit-animation: mover 2s infinite  alternate;
	animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover 
{
	0% { transform: translateY(0); }
	100% { transform: translateY(-20px); }
}

@keyframes mover 
{
	0% { transform: translateY(0); }
	100% { transform: translateY(-20px); }
}

.register-left p
{
	font-weight: lighter;
	padding: 12%;
	margin-top: -9%;
}

.register .register-form
{
	padding: 6%;
	margin-top: 12%;
}

.btnRegister
{
	float: right;
	margin-top: 4%;
	border: solid 1px #e0a32a;
	border-radius: 1.5rem;
	padding: 2%;
	background: #e0a32a;
	color: #fff;
	font-weight: 600;
	width: 160px;
	cursor: pointer;
}

.btnRegister:active, .btnRegister:focus
{
	outline: none;
}

.register .nav-tabs
{
	margin-top: 3%;
	border: none;
	background: #e0a32a;
	border-radius: 1.5rem;
	width: 28%;
	float: right;
}

.register .nav-tabs .nav-link
{
	padding: 2%;
	height: 34px;
	font-weight: 600;
	color: #fff;
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover
{
	border: none;
}

.register .nav-tabs .nav-link.active
{
	width: 100%;
	color: #e0bd00;
	border: 2px solid #e0bd00;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
}

.register-heading
{
	text-align: center;
	margin-top: 8%;
	margin-bottom: -15%;
	color: #495057;
}

@media (max-width: 767px)
{
	.register-right
	{
		height: 100%;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
	}
	.register .nav-tabs .nav-link.active
	{
		width: 100%;
		overflow:hidden;
	}
	.register .nav-tabs .nav-link
	{
		width: 100%;
		overflow:hidden;
		height: 100%;
	}
}

@media (min-width: 768px) and (max-width: 1199px)
{
	.register-right
	{
		height: 100%;
	}
}

.inputs
{
	height: 100%;
}

.form-control
{
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=date]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #e0a32a;
}

input[type=submit]:hover,
input[type=reset]:hover
{
	opacity: 0.9;
}

.icons
{
	float: left;
}

/*mainPage*/
.description
{
	font-size: 22px;
	color: #363a3e;
	margin-top: -10px;
}

.description2
{
	font-size: 16px;
	color: #495057;
	text-align: left;
}

.description-form
{
	padding: 8%;
	margin-top: 12%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.description-form img
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -20px;
}

.bg-gold
{
	background: -webkit-linear-gradient(left, #c2780a, #f9c831) !important;
}

.navbar-custom .navbar-nav .nav-link 
{
	color: #f8f9fa;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link 
{
	color: #fffdcc;
}

.menu
{
	border-radius: 12px;
	-webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
	text-shadow: black 0.1em 0.1em 0.2em;
}

.navbar .navbar-collapse 
{
	text-align: center;
}

.custom-toggler .navbar-toggler-icon 
{ 
	color: #f8f9fa;
	text-shadow: black 0.1em 0.1em 0.2em;
	width: 100%;
	height: auto;
}

.custom-toggler .navbar-toggler-icon:hover
{ 
	color: #fffdcc;
}

.navbar-toggler:focus, .navbar-toggler:active
{
	outline: none;
	box-shadow: none;
}

/*addIncome*/
/* turn it off completely */
.category:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #e0a32a;
}

.category option
{
	background-color: #e0a32a;
}

.register-heading2
{
	text-align: center;
	margin-top: 3%;
	margin-bottom: -15%;
	color: #495057;
}

.buttons
{
	margin-top: 10px;
}

.btnRegister2:active, .btnRegister2:focus
{
	border-style: none !important;
	outline: none;
}

.btnRegister2
{
	float: right;
	margin-top: 6%;
	margin-left: 5%;
	border: solid 1px #e0a32a;
	border-radius: 1.5rem;
	padding: 2%;
	color: #fff;
	font-weight: 600;
	width: 160px;
	cursor: pointer;
}

.welcome
{
	text-align: center;
}

/*addExpense*/
.buttonsExpense
{
	margin-top: 10px;
}

/*monthlyBalance*/
.balance
{
	border-radius: 12px;
	border: solid 1px #e0a32a;
	margin-top: 10px;
	background-color: #ffffff;
	color: #495057;
}

.resumeBalance
{
	border-radius: 12px;
	border: solid 1px #e0a32a;
	margin: 10px 0 10px 0;
	background-color: #ffffff;
	color: #495057;
}

.register .registerBalance-form
{
	padding: 6%;
}

.register-headingBalance
{
	text-align: center;
	color: #495057;
}

/* Dropdown Button */
.dropbtn
{
	width: 200px;
	background-color: #edb23b;
	font-size: 17px;
	color: #fff;
	padding: 4%;
	border: solid 1px #bd7d1e;
	border-radius: 1.5rem;
	cursor: pointer;
	font-weight: 600;
} 

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus
{
	background-color: #e0a32a;
	outline: none;
	color: #f8f9fa;
}

.dropdown 
{
	display: inline-block;
	text-align: center;
	float: right;
	position: relative;	
}

.dropdown-content 
{
	border-radius: 12px;
	border: solid 1px #e0a32a;
	background-color: #ffffff;
	color: #495057;
	margin-left: 10px;
}

/* Show the dropdown menu */
.show 
{
	display: block;
}

/*modal*/
#exampleModalLabel
{
	color: #495057;
	font-size:32px;
}

.to
{
	float: left;
	font-size:24px;
	margin-right: 2%;
	color: #495057;
}

.ok
{
	background-color: #e0a32a;
	color: #f8f9fa;
}

.ok:hover
{
	background-color: #e0972a;
}

td, th
{ 
	border-bottom: dotted 1px #e0a32a;
	border-left: dotted 1px #e0a32a;
}

table
{
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	color: #495057;
	border: dotted 1px #e0a32a;
}


#sum
{
	font-size: 22px;
	color: #e04e2a;
	text-align: center;
	margin: 3%;
	font-weight: 700;
	border: dotted 1px #e0a32a;
	border-radius: 1.5rem;
	text-shadow: 2px 1px 1px #FFFFFF;
}

#sum2
{
	font-size: 22px;
	color: green;
	text-align: center;
	margin: 3%;
	font-weight: 700;
	border: dotted 1px #e0a32a;
	border-radius: 1.5rem;
	text-shadow: 2px 1px 1px #FFFFFF;
}

.titleBox
{
	font-size: 22px;
	margin: 6%;
	border-bottom: 2px solid #e0972a;
	border-radius: 12px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: #e0972a;
}

.error
{
	color:red;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
}

.add
{
	margin-top: 1%;
	margin-bottom: -15%;
	color: #495057;
	font-size: 16px;
	margin-left:auto;
	margin-right:auto;
	font-weight: bold;
}

/*pie chart*/
#chart_wrap 
{
	position: relative;
	padding-bottom: 50%;
	height: 0;
	overflow:hidden;
}

#chart_div 
{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
}

/*settings*/
.categorySettings
{
	border-radius: 12px;
	margin: 10px 0 10px 0;
	background-color: #ffffff;
	color: #e0972a;
	border: 2px solid #e0972a;
	-webkit-box-shadow: 0px 18px 11px -13px rgba(0,0,0,0.53);
	-moz-box-shadow: 0px 18px 11px -13px rgba(0,0,0,0.53);
	box-shadow: 0px 18px 11px -13px rgba(0,0,0,0.53);
	font-size: 16px;
}

.categorySettings:hover, .categorySettings:focus
{
	border: 2px solid #e0972a;
	background-color: #f9c831;
	color: black;
}

#accordion
{
	margin-top: 10px;
}

.categoryIncome
{
	font-size: 14px;
	border-radius: 12px;
	border: 1px solid #495057;
	-webkit-box-shadow: 0px 18px 3px -12px rgba(0,0,0,0.53);
	-moz-box-shadow: 0px 18px 3px -12px rgba(0,0,0,0.53);
	box-shadow: 0px 18px 3px -12px rgba(0,0,0,0.53);
}

.iconCategory
{
	text-align: center;
	font-size: 18px;
	color: #495057;
}

.edit
{
	font-size: 16px;
	color: #e0972a;
}

.limit
{
	margin-bottom:-12px;
	margin-top: 8px;
}

