<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="UTF-8">
	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->

</head>
<body>
<div class="form-group col-md-12 mx-auto"> 

{% for expense in limitExpenses %}	
	
	{% set amount = amountExpense %}
	{% for allexpenses in sumrowAllExpenses %}
	{% set all = allexpenses.SUM + amount %}		

		
	{% if expense.reduction == 0 %}

	
	{% elseif expense.reduction >= all  %}
	
	<table cellpadding="10" cellspacing="0"  style="color: green; text-align: center; font-size:14px; background-color: #ffffff;">
		<thead style="font-size:12px;">
			<tr><th>Limit</th><th>Dotychczas wydane</th><th>Różnica</th><th>Wydatki + wpisana kwota</th></tr>
		</thead>
		<tbody>
			<tr>
			{% for expense in limitExpenses %}
			<td>{{ expense.reduction}}</td>
			{% endfor %}
			
			{% for allexpenses in sumrowAllExpenses %}
				{% if allexpenses.SUM == 0 %}
				<td>{{ '0.00' }}</td>
				{% else %}
				<td>{{ allexpenses.SUM }}</td>
				{% endif %}
			{% endfor %}
			
			
			{% for expense in limitExpenses %}
			{% for allexpenses in sumrowAllExpenses %}	
			<td>{{
			((expense.reduction) - (allexpenses.SUM)) |number_format(2, '.', '')
			}}</td>
			{% endfor %}										
			{% endfor %}
			
			{% set amount = amountExpense %}
			{% for allexpenses in sumrowAllExpenses %}
			<td>{{ (allexpenses.SUM + amount) |number_format(2, '.', '') }}</td>
			{% endfor %}
			</tr>
		</tbody>

	</table>
	
	{% else %}
	
	<table cellpadding="10" cellspacing="0"  style="color: red; text-align: center; font-size:14px; background-color: #ffffff;">
		<thead style="font-size:12px;">
			<tr><th>Limit</th><th>Dotychczas wydane</th><th>Różnica</th><th>Wydatki + wpisana kwota</th></tr>
		</thead>
		<tbody>
			<tr>
			{% for expense in limitExpenses %}
			<td>{{ expense.reduction}}</td>
			{% endfor %}
			
			{% for allexpenses in sumrowAllExpenses %}
				{% if allexpenses.SUM == 0 %}
				<td>{{ '0.00' }}</td>
				{% else %}
				<td>{{ allexpenses.SUM }}</td>
				{% endif %}
			{% endfor %}
			
			
			{% for expense in limitExpenses %}
			{% for allexpenses in sumrowAllExpenses %}	
			<td>{{
			((expense.reduction) - (allexpenses.SUM)) |number_format(2, '.', '')
			}}</td>
			{% endfor %}										
			{% endfor %}
			
			{% set amount = amountExpense %}
			{% for allexpenses in sumrowAllExpenses %}
			<td>{{ (allexpenses.SUM + amount) |number_format(2, '.', '')}}</td>
			{% endfor %}
			</tr>
		</tbody>

	</table>
	<div class="b_line" style="color: #495057; text-align: center;">Limit w wybranej kategorii został przekroczony !</div>	
	{% endif %}
	
	
	{% endfor %}
{% endfor %}	
</div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>

	<script src="/js/bootstrap.min.js"></script>
	<script src="/jquery-3.2.1.min.js"></script>

    {% block footer %}
    {% endblock %}
</body>
</html>


